<h1> Add a School For <%=@county.name%></h1>
<%= image_tag( "divide_plain.png", :class => "content_divide" )%>

<%= form_for ([@county, @county.schools.build]) do |f| %>
  <%if @school.errors.any?%>
  <div class="error_explanation">
  <h3>
    <%= pluralize(@school.errors.count, "error") %> prohibited this school from being saved:
  </h3>
  <ul>
    <%@school.errors.full_messages.each do |msg| %>
    <li><%=msg%></li>
    <%end%>
  </ul></div>
  <%end%>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :address %><br>
    <%= f.text_area :address %>
  </p>
  <p>
    <%= f.label :grade %><br>
    <%= f.text_field :grade %>
  </p>
  <p>
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </p>
  <p>
    <%= f.label :website %><br>
    <%= f.text_field :website %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
 
<% end %>

<%= link_to "Back", :back %>

<br><br><br>

<%= image_tag( "divide.png", :class => "content_divide" )%>