<!DOCTYPE html>
<html>
  <head>
    <title>SchoolSystem</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCaYT5wYepNyq1XIwjOHDgnBAxXuycwL00&callback=initMap"
  type="text/javascript"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <header>
      
      <%= link_to root_path do %>  
      
        <%= image_tag( "header_image.png", :class => "header_image" )%> <!--Header image/ website logo.-->
        
      <% end %>
      
      <div class="navbar"> <!--Overarching nav bar-->

        <div class="navbuttons">

          <%= link_to 'Home', root_path %>
          <%= link_to 'Counties', counties_path %>
          <%= link_to 'New County', new_county_path %>

        </div>

      </div>


    </header>

    <main>
      
      <div class="content">
        
        <%= yield %>
        
      </div>
    
    </main>
    
  </body>
  
</html>
